/*===================== layout =========================*/
body,html, .capa{
   height: 100%; 
}
body{
    background: url('imagens/capa.png'),
                url('imagens/ruido.png'),
                linear-gradient(50deg,#ff4169,#7c26f8);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}
/* -- Barra de navegação -- */
/* -- Logo Inicial -- */
.img-logo{
    height: 40px; /* Altura */
    width: 132px; /* Largura */
    display: block;
    background: url('imagens/spotify.svg') no-repeat;
    /* border: 1px solid red;*/
    background-size: contain;/* Serve para definir 
    que a imagem de fundo tenha os mesmos paremtros deifinidos antes*/
    color: transparent
}
/* -- /Logo Inicial -- */
 
nav.navbar-transparente{
    padding: 15px 0px; /* Serve para o creenchimento com superior e inferior
    e nas laterais  */
    background: rgba(0,0,0, 0.6);
    border: none;
}
.navbar-brand{
    padding: 5px 15px;
}
.divisor{
    width: 1px;
    height: 16px;
    background: white;
    margin: 16px 10px;
}

.navbar-inverse .navbar-nav>li>a{
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover{
    color: #43C7FF;
}
/*--- Imagem de capa*/
.capa{
    display: table;
    width: 100%;

}

.texto-capa{
    text-align: center;
    color: white;
    display: table-cell;
    vertical-align: middle;
}
/*--- Botões*/
.btn-custom{
    color: white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    padding: 10px 35px;
    text-transform: uppercase;
    margin: 0px 15px;
    transition:  0.4s, color 0.4s;
    
}
.btn-roxo{
    background: #B933FF;
}
.btn-roxo:hover{
    background-color: #7F00CC;
    color: white;
}
.btn-branco{
    border: 2px solid white;
}
.btn-branco:hover{
    background-color: white;
    color: black;
}
/*--- Serviços*/
#servicos{
    background: white;
    padding-top: 20px ;
    padding-bottom: 20px;
    

}
.albuns{
    padding: 10px 0px 10px 0px;
}
/*===================== Tipografia =========================*/
h1{
    font-size: 100px;
    font-weight: 900;
    letter-spacing: -8px;
    margin-bottom: 50px;
}
h2{
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -0.04em;
}
h3{
    font-size: 35px;
    font-weight: 700;
    letter-spacing: -0.04em;
}
#servicos h2,#servicos h3{
    color: #7F00CC;
}


